AddDefaultCharset utf-8

DirectoryIndex index.php
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php

<files ~ "\.(sh|tpl.php|md)$"> 
Order Deny,Allow
Deny From All
</files>